* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: white;
    background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    height: 100%;
}

body {
    animation: fadeInAnimation ease 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.header-index {
    background-image: linear-gradient(-90deg,rgb(0, 74, 173), rgb(255,22,22));
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.logo {
    float: left;
    margin: 15px 0 0 50px;
}

.logo img {
    padding: 8px;
    max-width: 100%;
    height: 7vh;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
}

nav {
    height: 12vh;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.03em;
    z-index: 99;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    width: 50%;
    height: 100%;
}

.nav-links li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    position: relative;
    padding: 15px 0px 15px 0px;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-links a:hover:after {
    width: 100%; 
    left: 0;
    z-index: 5;
}

#signup {
    padding: 10px 5px;
    background-color: rgb(23, 181, 149);
    border-radius: 5px;
}

#signup:hover {
    background-color: rgb(26, 203, 168);
    text-decoration: none;
}

#signup:hover:after {
    width: 0px;
}

.landing h1 {
    position: absolute;
    float: left;
    margin-left: 50px;
    top: 20%;
    text-align: center;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.landing img {
    position: absolute;
    width: 400px;
    top: 20%;
    right: 20%;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {

    

    .nav-links {
        position: fixed;
        background: rgb(0, 74, 173);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        display: none;
    }
}
  
.nav-icon {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 40px;
    background: none !important;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
    
    background-color: white;
    border-radius: 3px;
    content: '';
    display: block;
    height: 1px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon.is-active:before {
    transform: translateY(8px) rotate(135deg);
}

.nav-icon.is-active:after {
    transform: translateY(-8px) rotate(-135deg);
}

.nav-icon.is-active div {
    transform: scale(0);
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

.blob {
    position: absolute;
    width: 600px;
    bottom: 2%;
    right: 8%;
    /* z-index: -1; */
}

#network {
    z-index: 1000;
    position: absolute;
    bottom: 20%;
    right: 10%;
    max-width: 40%;
    height: auto;
}

.info {
    margin-top: 100px;
}

.why-container {
    height: 300px;
}

.fade-in {
    width: 100%;
    height: 400px;
    /* margin-top: 10%; */
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0)
}

.fade-in h1 {
    font-family: 'Staatliches', cursive;
    margin: 0;
    font-size: 120px;
    letter-spacing: 0.1em;
}

.fade-in h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 01.em;
    line-height: 1.5;
    width: 70%;
    font-size: 20px;
    margin-left: 15%;
}

.help-container {
    position: relative;
    background: linear-gradient(rgba(0,0,0,.7), rgba(255,255,255,0)), url("images/golden-gate.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* background-color: rgb(84,84,84); */
    font-family: 'Poppins', sans-serif;
    color: white;
}

.help-container h1 {
    font-family: 'Staatliches', cursive;
    padding-top: 50px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.1em;
}

section .blur {
    position: relative;
    padding: 50px;
    overflow: hidden;
    z-index: 20;
}

section .blur:before {
    background: linear-gradient(rgba(0,0,0,.7), rgba(255,255,255,0)), url("images/golden-gate.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    filter: blur(5px); 
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    z-index: -1;
}

.help-list ul {
    list-style: none;
    text-align: center;
}

.help-list li {
    width: 30%;
    display: table-cell;
    padding: 50px 20px 50px 20px;
    font-size: 30px;
}

#circle {
    margin: auto;
    display: table;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#circle img {
    max-width: 125px;
    margin-top: 20%;
}

.help-list span {
    color: rgb(255, 22, 22);
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.help-list p {
    margin: 20px 0;
    padding: 20px 0;
    /* background-color: white;
    border-radius: 10px; */
}

.how-container {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}

.how-container h1 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.05em;
    padding: 75px 0 75px 0;
    text-align: center;
    font-size: 60px;
}

.how-img-list ul {
    list-style: none;
    text-align: center;
}

.how-img-list li {
    width: 450px;
    padding: 0 40px 0 40px;
    display: inline-table;
}

.how-img-list img {
    height: 100%;
    width: 100%;
}

.how-img-list h4 {
    padding: 25px;
}

.how-img-list li p {
    padding: 0;
    font-weight: lighter;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
}

.how-link-list ul {
    list-style: none;
    text-align: center;
    display: inline-block;
}

.how-link-list li p{
    width: 300px;
}

.gofundme-container {
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.05em;
    margin: 10vh;
}

.gofundme-container h1 {
    text-align: center;
    padding: 30px;
    font-size: 42px;
    font-weight: 500;
}

strong {
    font-weight: bold;
}


footer {
    background-color: rgb(84,84,84);
    color: rgb(184, 184, 184);
    position: relative;
    height: auto;
    font-family: 'Poppins', sans-serif;
    clear: both;
    /* padding: 60px; */
    padding-left: 40px;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-bottom: 15px;
}

.social-media a {
    color: rgb(200, 200, 200);
    margin-right: 15px;
    font-size: 22px;
    text-decoration: none;
}

.social-media a:hover {
    /* color: rgb(102, 106, 110);  */
    color: rgb(255,255,255);
}

footer h1 {
    font-size: 22px;
}

footer h2 {
    font-size: 14px;
}

hr {
    width: 95%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.right-col {
    margin-right: 5%;
}

.add-info a {
    text-decoration: none;
    color: rgb(184,184,184); 
    font-size: 12px;
    margin-left: 30px;
}

.add-info a:hover {
    color: rgb(255,255,255);
}

footer p {
    font-size: 12px;
    padding-bottom: 10px;
}

.rights-text {
    text-align: center;
}

/*
    Coalition CSS Section
*/


.header-coalition {
    background-color: rgb(84,84,84);
}

.coalition-container {
    background-image: url(https://www.cloudflare.com/img/about/people/people-lunch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: black;
}

.coalition-background {
    height: 400px;
}

.coalition-title {
    font-family: 'Staatliches', cursive;
    padding: 75px 0;
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
}

.coalition-title h1 {
    font-size: 70px;
}

.coalition-title h3 {
    font-size: 50px;
}


